@media screen and (max-width: 768px) {

    .roadmap {
        height: 399px !important;
    }

    .roadmap .container {
        border-bottom: 1px solid rgba(255, 255, 255, 0.37);
        border-top: 1px solid rgba(255, 255, 255, 0.37);
        overflow: hidden;
    }

    .roadmap__track {
        width: 320px !important;
        height:  399px !important;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        left: 50%;
        transform: translateX(-50%);;
    }

    .roadmap-block {
        min-width: 320px !important;
        min-height: 200px !important;
        margin-left: 0px !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.37);
        border-left: 1px solid rgba(255, 255, 255, 0.37);

        &::after {
            content: '';
            position: absolute;
            top: 0 !important;
            left: auto !important;
            right: 3px !important;
            height: 100% !important;
            width: 1px !important;
            background: rgba(255, 255, 255, 0.37) !important;
            // z-index: 20 !important;
            border-radius: 0 !important;
            border: none !important;
        }

        & .roadmap__line {
            display: none;
        }
    }
}
