@import "../../fonts.scss";

.careers-sec {
  width: 100%;
  position: relative;
  height: 1000px;
  margin-top: 160px;

  & .careers-content {
    width: 100%;
    height: 100%;
    position: relative;
    // background-color: chocolate;

    &__header {
      width: 100%;
      height: 200px;
      position: relative;
      // background-color: chocolate;

      & .careers-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 450px;
        height: 100px;
        background-color: rgba(196, 196, 196, 0.2);
        border-radius: 18px;

        display: flex;
        align-items: center;
        justify-content: center;

        & h1 {
          display: inline;
          @include bebas-reg;
          color: #fff;
          letter-spacing: 3px;
          font-size: 73px;
          // background-color: chartreuse;
        }
      }

      & .careers-settings {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 740px;
        height: 40px;
        background: rgba(196, 196, 196, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include faible;
        color: #fff;
        // font-size: 23px;
        border-radius: 10px;
        padding: 0 20px;

        & span {
          cursor: pointer;
          transition: 250ms;
          text-align: center;
          position: relative;
          font-size: 20px;
        }

        #all-careers {
          z-index: 10;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 140%;
            height: 120%;
            background-color: rgb(0, 0, 0);
            z-index: -1;
            border-radius: 10px;
            opacity: 1;
          }
        }

        #all-careers.hide {
          &::before {
            opacity: 0;
          }
        }

        #manage-careers.selected {
          z-index: 10;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 115%;
            height: 120%;
            background-color: rgb(0, 0, 0);
            z-index: -1;
            border-radius: 10px;
            transition: 220ms;
            opacity: 1;
          }
        }

        #marketing-careers.selected {
          z-index: 10;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 112%;
            height: 120%;
            background-color: rgb(0, 0, 0);
            z-index: -1;
            transition: 220ms;
            border-radius: 10px;
          }
        }

        #game-design-careers.selected {
          z-index: 10;
          transition: 1000ms;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 130%;
            height: 120%;
            background-color: rgb(0, 0, 0);
            z-index: -1;
            transition: 220ms;
            border-radius: 10px;
          }
        }
        #engineeng-careers.selected {
          z-index: 10;
          transition: 1000ms;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 130%;
            height: 120%;
            background-color: rgb(0, 0, 0);
            z-index: -1;
            transition: 220ms;
            border-radius: 10px;
          }
        }
        #art-careers.selected {
          z-index: 10;
          transition: 1000ms;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 130%;
            height: 120%;
            background-color: rgb(0, 0, 0);
            z-index: -1;
            transition: 220ms;
            border-radius: 10px;
          }
        }
      }
    }

    & .careers-content__body {
      width: 100%;
      height: 100%;
      position: relative;
      top: 50px;

      & li {
        width: 100%;
        height: 100px;
        max-height: 400px !important;
        position: relative;
        border: 1px solid #fff;
        transition: 300ms ease;
        cursor: pointer;
        margin: 10px 0;

        & .title-wrap {
          height: 100%;
          min-height: 60px;
          max-height: 98px;
          width: 30%;
          min-width: 170px;
          position: relative;
          // background-color: rgba(255, 127, 80, 0.363);
          user-select: none;
          z-index: -1;

          & h2 {
            position: absolute;
            top: 50%;
            left: 20px;
            color: #fff;
            transform: translateY(-50%);
            @include bebas-reg;
            letter-spacing: 3px;
            font-size: 35px;
            user-select: none;
            // background-color: chartreuse;
          }
        }

        & .content--left {
          width: 60%;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 75%;
          display: none;
          // background-color: rgba(128, 255, 0, 0.207);

          & p {
            position: absolute;
            top: 45%;
            left: 10%;
            transform: translateY(-50%);
            color: #fff;
            // font-size: 17px;
            font-size: calc(10px + (17 - 10) * ((100vw - 320px) / (1920 - 320)));
            line-height: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
            @include faible;
            opacity: 0;
          }
        }

        & .content--right {
          position: absolute;
          top: 0;
          right: 0;
          width: 50%;
          height: 100%;
          max-height: 98px;
          display: flex;
          padding: 10px 0;
          z-index: -1;
          // background-color: rgba(100, 148, 237, 0.288);

          &__number {
            position: relative;
            height: 100%;
            max-height: 78px;
            width: 20%;
            border: 1px solid #fff;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            user-select: none;
            transition: 200ms ease-out;
            opacity: 1;

            & span {
              color: #fff;
              @include bebas-reg;
              font-size: 30px;
              font-weight: bolder;
              letter-spacing: 3px;

              // width: 100%;
              // height: 100%;
              // background-color: crimson;

              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          &__open {
            height: 100%;
            width: 50%;
            max-height: 98px;
            position: absolute;
            top: 0;
            right: 0;
            user-select: none;
            // background-color: rgba(95, 158, 160, 0.322);

            & button {
              border: none;
              font-size: 25px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              @include faible;
              background: none;
              color: #fff;
              cursor: pointer;
              // background-color: rgba(128, 255, 0, 0.24) !important;
            }

            & svg {
              color: #fff;
              font-size: 20px;
              position: absolute;
              top: 50%;
              right: 17px;
              transform: translateY(-50%);
              transition: 250ms;
              cursor: pointer;
              z-index: 10 !important;
            }
          }
        }

        &.active {
          height: calc(20vw + 100px) !important;

          & .content--left {
            display: block;
          }

          & .content--right {
            &__info {
              opacity: 0.2;
            }

            &__number {
              opacity: 0;
            }
          }

          svg {
            transform: rotateZ(180deg);
            top: 38%;
          }
        }
      }
    }
  }
}
.footer {
  margin-top: 500px;
}
