@media screen and (max-width: 1440px) {
     .careers-content__header .careers-title {
          height: 85px !important;

          & h1 {
               font-size: 60px !important;
          }
     }

     .careers-settings span {
          font-size: 18px !important;
     }

     .careers-content__body li {
          height: 85px !important;

          & .title-wrap {
               max-height: 83px !important;

               & h2 {
                    font-size: 32px !important;
               }
          }
     }

     .content--right {
          max-height: 83px !important;
     }

     .content--right__number {
          max-height: 63px !important;
     }
}

@media screen and (max-width: 768px) {
     .careers-content__header {
          height: 350px !important;
     }

     .careers-content__header .careers-title {
          left: 50% !important;
          transform: translateX(-50%);
          height: 70px !important;
          max-width: 300px !important;

          & h1 {
               font-size: 40px !important;
          }
     }

     .careers-settings {
          width: 200px !important;
          height: 70% !important;

          left: 50% !important;
          transform: translateX(-50%);

          flex-direction: column;
          padding: 10px 0 !important;
     }

     .careers-settings span {
          font-size: 18px !important;
     }

     .careers-content__body li {
          height: 70px !important;

          & .title-wrap {
               max-height: 68px !important;
          }

          & .title-wrap h2 {
               font-size: 27px !important;
          }

          & .content--right__number {
               max-height: 48px !important;

               & span {
                    font-size: 25px !important;
               }
          }

          .content--right {
               max-height: 68px !important;
          }

          .content--left {
               width: 100% !important;

               & p {
                    right: 10%;
               }
          }

          & .content--right__open {
               & button {
                    font-size: 20px !important;
                    left: 40% !important;
               }

               & svg {
                    right: 10px !important;
                    font-size: 17px !important;
               }
          }
     }
}

@media screen and (max-width: 480px) {
     .careers-content__body li {

          & .title-wrap h2 {
               font-size: 23px !important;
          }

          & .content--right__number {
               border: 0 !important;
               max-height: 48px !important;
               width: 50% !important;
               // background-color: chartreuse !important;

               & span {
                    font-size: 21px !important;
                    right: 20px;
                    left: auto !important;
                    transform: translateY(-50%) !important;
               }
          }

          & .content--right__open button {
               display: none;
          }

          & .content--right__open svg {
               right: 50% !important;
               font-size: 19px !important;
          }
     }
}

@media screen and (max-width: 320px) {
     .careers-content__header .careers-title {
          left: 50% !important;
          transform: translateX(-50%);
          height: 50px !important;
          max-width: 240px !important;

          & h1 {
               font-size: 28px !important;
          }
     }

     .careers-settings {
          height: 70% !important;
          width: 60% !important;
          left: 50% !important;
          transform: translateX(-50%);

          flex-direction: column;
          padding: 10px 0 !important;
     }

     .careers-settings span {
          font-size: 16px !important;
     }

     .careers-content__body li {
          height: 55px !important;

          & .title-wrap {
               max-height: 53px !important;
          }

          & .title-wrap {
               min-height: 53px !important;
          }

          & .title-wrap h2 {
               left: 10px !important; 
               font-size: 19px !important;
          }

          & .content--right {
               max-height: 53px !important;
          }
          & .content--right__number {
               max-height: 40px !important;
          }

          & .content--right__open {
               width: 40% !important;
          }
     }
}
