@import "../../fonts.scss";

.team {
    width: 100%;
    position: relative;
    margin-top: 200px;

    & .container {
        position: relative;
        display: flex;
        flex-direction: column;
        // max-width: 1600px !important;
        // background-color: rgba(128, 255, 0, 0.26);

        & .logo-wrap {
            display: block;
            position: relative;
            text-align: center;
            // opacity: 0;

            & h2 {
                display: inline-block;
                @include bebas-reg;
                color: #fff;
                line-height: calc(60px + (100 - 60) * ((100vw - 320px) / (1920 - 320)));
                font-size: calc(25px + (73 - 25) * ((100vw - 320px) / (1920 - 320)));
                letter-spacing: 3px;
                padding: 0 7%;

                background-color: rgba(196, 196, 196, 0.2);
                border-radius: 18px;

                // background-color: gold;
            }
        }

        & .team-grid {
            display: block;
            margin-top: 120px;
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0 30px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            // align-items: center;

            & .team-grid__block {
                width: calc(200px + (270 - 200) * ((100vw - 320px) / (1920 - 320)));
                height: calc(110px + (150 - 110) * ((100vw - 320px) / (1920 - 320)));
                display: block;
                position: relative;
                top: -35px; //for animation
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
                border-radius: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320)));

                // background: linear-gradient(45deg, rgb(31, 2, 11), rgba(231, 109, 160, 0.39));

                & .photo {
                    position: relative;
                    height: calc(60px + (80 - 60) * ((100vw - 320px) / (1920 - 320)));
                    width: calc(60px + (80 - 60) * ((100vw - 320px) / (1920 - 320)));

                    & img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: calc(15px + (23 - 15) * ((100vw - 320px) / (1920 - 320)));
                    }
                }

                & .text-info {
                    position: relative;

                    & .name {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        letter-spacing: 1px;
                        @include faible;
                        max-width: 130px;
                        color: #fff;
                        line-height: calc(18px + (27 - 18) * ((100vw - 320px) / (1920 - 320)));
                        // margin: 8px;

                        // background-color: yellowgreen;

                        & .first-name {
                            font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
                        }

                        & .last-name {
                            font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
                        }
                    }

                    & span {
                        position: relative;
                        @include sulphur;
                        font-size: calc(11px + (15 - 11) * ((100vw - 320px) / (1920 - 320)));
                        letter-spacing: 1px;
                        color: #9e9e9e;
                    }
                }

                & .links {
                    position: relative;
                    width: calc(30px + (35 - 30) * ((100vw - 320px) / (1920 - 320)));
                    background-color: rgba(255, 255, 255, 0.103);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    text-align: center;
                    padding: 12px 0;
                    border-radius: 8px;

                    & a {
                        margin-bottom: 17px;

                        & svg {
                            font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1920 - 320)));
                            color: #fff;
                            cursor: pointer;
                            position: relative;
                            top: 2px;
                        }

                        &:last-child {
                            margin-bottom: 1px;
                        }
                    }
                }
            }
        }
    }
}
