section.find-us-section
    h3 Where to find us?
    .find-us-section_links
        .find-twitter
            img(src='./img/icons/twitter.svg' alt='twitter link')
        .find-steam
            img(src='./img/icons/steam.svg' alt='steam link')
        .find-discord
            img(src='./img/icons/discord.svg' alt='discord channel')
