section.news-section
    h3.section-title.news-title News
    .news_preview
        .news_slider.owl-carousel.owl-theme
            .news_slider_item
                p News number 1
                p Description to this post item
                .bg
            .news_slider_item
                p News number 2
                p Description to this post item
                .bg
            .news_slider_item
                p News number 3
                p Description to this post item
                .bg
            .news_slider_item
                p News number 4
                p Description to this post item
                .bg
