section#our-games-section.our-games-section
    h3 Our games
    .games-preview
        .games-carousel.owl-carousel.owl-theme
            .slider-el First Slide
            .slider-el Second
            .slider-el Third
            .slider-el Forth