section#our-games-section.our-games-section
    h3.section-title.our-games-title Our games
    .games-preview
        .games-carousel.owl-carousel.owl-theme
            .slider-el
                img(src="./img/game1.png", alt="")
            .slider-el
                img(src="./img/game2.png", alt="")
            .slider-el Third
            .slider-el Forth