body {
    color: $white;
    min-width: 320px;
    min-height: 100vh;
    font-size: 20px;
    overflow-x: hidden;
    background-color: $black;
    font-family: 'Nunito Regular', sans-serif;
    position: relative;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    width: 100%;
    margin-top: 100px !important;

    & section {
        margin-top: 200px;
    }
}

.section-title {
    font-size: $sectionTitle;
    color: $white;
    padding-left: $sectionTitlePadding;
    font-family: 'NunitoSans Bold', sans-serif;
    letter-spacing: 0.05em;
}


.container {
    display: block;
    max-width: 1230px;
    margin: 0 auto;
    height: inherit;
    padding: 0 15px;
    position: relative;
}


.prm-btn {
    padding: 5px 20px;
    border: 1px solid $white;
    border-radius: 5px;
}

.prm-btn-white {
    padding: 10px 40px;
    border-radius: 5px;
    background: #fff;
    color: #000 !important;
    font-weight: bold;
    font-family: "NunitoSans Bold", sans-serif;
}

.df {
    display: flex;
}

#canvas-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // background-image: url('../bg.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}