.body-footer {
    margin-top: 50px;
    padding: 2em 0;
    font-family: "NunitoSans Regular", sans-serif;

    & .logo {
        transform: scale(0.8);
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1400px;
    }

    & .menu ul {
        display: flex;
        color: $black-op07;

        & > li + li {
            margin-left: 50px;

            @include media1200 {
                margin-left: 20px;
            }
        }
    }

    & .rights {
        color: $black-op07;
    }
}