.find-us-section {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .find-us-title {
        padding-left: 0;
    }

    &_links {
        margin-top: 60px;
        display: flex;
        align-items: center;

        & > div + div {
            margin-left: 80px;
        }

        & .find-twitter {
            transform: scale(0.75);
        }
    }
}