footer#body-footer.body-footer
    .container.body-footer-container
        .logo
            img(src='./img/logo.png' alt='Exbyte Studios logo')
        nav.menu
            ul
                li
                    a(href='#') Support
                li
                    a(href='#') Privacy Policy
                li
                    a(href='#') Terms and Conditions
        .rights
            | © 2022 Exbyte Studios, All Rights Reserved
