extends layout/app

block page
    include chunk/header

    div(data-scrollbar).scroll-wrapper

        div.container
            section.intro-sec
                div
                    h1 Hello world
        div.container
            section.intro-sec
                div
                    h1 Hello world
        div.container
            section.intro-sec
                div
                    h1 Hello world

    include chunk/footer

    script(src='https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.7.4/smooth-scrollbar.min.js')
    script(src='/js/libs/gsap.min.js')
    script(src='/js/libs/ScrollTrigger.min.js')
    script(src='/js/libs/TextPlugin.min.js')
    script(src='/js/home.js')