@mixin add-font ($name, $path, $weight: '400', $style: 'normal') {
    @font-face {
        font-family: $name;
        src: url('../fonts' + $path);
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@mixin media1200 {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin media1024 {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin media768 {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin media480 {
    @media (max-width: 480px) {
        @content;
    }
}