@media screen and (max-width: 835px) {

    .numbers-wrap .numbers-block:nth-child(3) {

        & h4 {
            position: relative;
            top: 9px;
        }

    }
}

@media screen and (max-width: 768px) {

    .we-in-numbers__inner {
        height: 290px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        & .numbers__title {
            max-height: 80px;
        }
    }

    .numbers-wrap {
        width: 80% !important;
        max-height: 80px !important;
    }

    .numbers-wrap .numbers-block {
        padding: calc(15px + (0 - 15) * ((100vw - 320px) / (1920 - 320))) 0 !important;

        &:nth-child(1) {
            border-left: 1px solid #fff;
        }

        &:nth-child(3) h4 {
            position: relative;
            top: 0px;
        }
    }
}

@media screen and (max-width: 588px) {

    .numbers-wrap .numbers-block:nth-child(3) {

        & h4 {
            position: relative;
            top: 7px;
        }

    }
}

@media screen and (max-width: 480px) {

    .we-in-numbers__inner {
        height: 250px;

        & .numbers__title {
            width: 70%;
            max-height: 80px;
        }
    }

    .numbers-wrap {
        width: 95% !important;
        max-height: 80px !important;
    }

    .numbers-wrap .numbers-block {
        padding: calc(15px + (23 - 15) * ((100vw - 768px) / (1920 - 768))) 0 !important;

        &:nth-child(1) {
            border-left: 1px solid #fff;
        }
    }
}