@import "../../fonts.scss";

.footer {
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 200px;
    //   background-color: chocolate;

    & .container {
        max-width: 800px !important;
    }

    &__inner {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        // align-items: center;

        // background-color: rgba(128, 255, 0, 0.123);

        & .footer__content {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: baseline;
            padding: 0 20px;

            // background-color: rgba(210, 105, 30, 0.329);

            & .studio {
                position: relative;
                display: flex;
                flex-direction: column;
                padding: 10px;
                max-width: 150px;
                min-width: 75px;

                // background-color: rgba(210, 105, 30, 0.226);

                & h2 {
                    color: rgb(255, 255, 255);
                    @include sequel;
                    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
                    letter-spacing: 2px;
                    margin-bottom: 15px;
                }

                & a {
                    @include fira;
                    color: rgb(255, 255, 255);
                    font-size: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320)));
                    margin: 5px 0;
                }
            }

            & .social {
                max-width: 150px;
                min-width: 140px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                margin: 0 calc(0px + (150 - 0) * ((100vw - 320px) / (1920 - 320)));

                // background-color: rgba(100, 148, 237, 0.233);

                & h2 {
                    color: rgb(255, 255, 255);
                    @include sequel;
                    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                    text-align: center;
                }

                & .links {
                    position: relative;
                    margin-top: 30px;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    padding: 0 15px 0 10px;

                    & a {
                        position: relative;
                        margin: 0 calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));

                        & svg {
                            font-size: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
                        }
                    }
                }
            }

            & .info {
                max-width: 120px;
                min-width: 70px;
                position: relative;
                padding: 10px;

                // background-color: rgba(220, 20, 60, 0.24);

                & h2 {
                    display: block;
                    color: #fff;
                    @include sequel;
                    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
                    letter-spacing: 1px;
                    margin-bottom: 20px;

                    // background-color: darkblue;
                }

                & h3 {
                    display: inline;
                    color: #fff;
                    @include fira;
                    font-size: calc(13px + (19 - 13) * ((100vw - 320px) / (1920 - 320)));
                    line-height: 30px;
                    letter-spacing: 1px;

                    // background-color: darkgoldenrod;
                }
            }

            & .change-lang {
                position: absolute;
                width: calc(160px + (190 - 160) * ((100vw - 320px) / (1920 - 320)));
                bottom: 34px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                align-items: center;
                cursor: pointer;

                &__text {
                    position: relative;
                    width: 100%;
                    @include fira;
                    color: #fff;
                    font-size: calc(10px + (13 - 10) * ((100vw - 320px) / (1920 - 320)));
                    letter-spacing: 1px;
                }

                &__items {
                    position: relative;
                    @include bebas-reg;
                    color: #fff;
                    font-size: calc(13px + (20 - 13) * ((100vw - 320px) / (1920 - 320)));
                    letter-spacing: 3px;
                    margin-left: 20px;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 42%;
                        transform: translate(-50%, -50%);
                        width: 140%;
                        height: 140%;
                        border: 1px solid #fff;
                        border-radius: 5px;
                    }
                }
            }
        }

        & .copyright {
            position: relative;
            width: 100%;
            height: 40px;
            text-align: center;

            & h4 {
                font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1920 - 320)));
                color: #ccc;
                @include faible;
                line-height: 40px;

                & svg {
                    margin-right: 10px;
                }
            }
        }
    }
}
