.body-footer {
    margin-top: 100px;
    padding: 4em 0;
    font-family: "NunitoSans Regular", sans-serif;

    & .logo {
        @include media1200 {
            transform: scale(0.85);
        }
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1400px;
    }

    & .menu ul {
        display: flex;
        color: $black-op07;

        @include media1200 {
            font-size: 16px;
        }

        & > li + li {
            margin-left: 50px;

            @include media1200 {
                margin-left: 20px;
            }
        }
    }

    & .rights {
        color: $black-op07;
        @include media1200 {
            font-size: 16px;
        }
    }
}