.body_header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $black;

    &-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        z-index: 5;
    }

    &_logo {
        max-width: 220px;
        max-height: 50px;

        & img {
            object-fit: cover;
            max-height: inherit;
        }
    }


    &_menu {
        position: relative;
        left: -1.5em;

        ul {
            display: flex;
            justify-content: center;

            & li {
                position: relative;
                left: -10px;
            }

            & > li + li {
                margin-left: 60px;
                @include media1200 {
                    margin-left: 0;
                }
            }
        }
    }

    &_account {
        & .login-btn {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;

            & svg {
                margin-left: 10px;
            }
        }
    }
}