.intro-s {
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;

    &_block {
        width: 50%;
        height: 100%;

        &--left {
            display: flex;
            flex-direction: column;

            & h1 {
                font-family: 'Nunito Bold', sans-serif;
                font-size: 70px;
                letter-spacing: 0.03em;
                line-height: 0.75;

                // &.displayed {
                //     & span::before {
                //         top: 200%;
                //     }
                // }

                & span {
                    display: inline-block;
                    position: relative;
                    overflow: hidden;
                    padding: 10px 0;

                    // &::before {
                    //     content: '';
                    //     position: absolute;
                    //     top: 50%;
                    //     left: 0;
                    //     width: 100%;
                    //     height: 110%;
                    //     background: rgb(255, 255, 255);
                    //     transform: translateY(-50%);
                    //     transition: 1.6s ease-out 50ms;
                    // }
                }
            }

            & h2 {
                margin-top: 3vh;
                font-size: 18px;
                color: $linkColor;
                font-weight: 300;
                max-width: 72%;
                line-height: 1.6;
            }

            & a {
                color: $black;
                background: #fff;
                margin-top: 3vh;
                align-self: flex-start;
                font-weight: bold;
                display: flex;
                align-items: center;
                padding-left: 12px;
                padding-right: 12px;
                font-size: 17px;

                & span {
                    font-family: "NunitoSans Bold", sans-serif;
                }

                & svg {
                    margin-left: 8px;
                }
            }
        }

        &--right {
            position: relative;
            border: 1px solid red;
            min-height: 250px;
            max-height: 250px;

            & .intro-top-left-arrow {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(calc(-50% - 20px), calc(-100% + 20px)) scale(0.6);
                width: 151px;
                height: 116px;
                transform-origin: left bottom;
                // border: 1px solid greenyellow;
                
                & path {
                    stroke-dasharray: 0, 300; // 700
                }
            }

            & .intro-bottom-left-controllers {
                position: absolute;
                bottom: -20px;
                left: 100px;
                transform: translateY(100%);
                width: 100px;
                height: 80px;
                // border: 1px solid green;

                & svg {
                    display: block;
                    // border: 1px solid yellow;
                    position: absolute;
                    top: calc(50% + 15px);
                    left: calc(50% + 20px);
                    transform: translate(-50%, -50%);
                    opacity: 0;
                }

                & svg:nth-child(2) {
                    top: calc(50% - 20px);
                    left: calc(50% - 10px);
                }
            }
        }
    }
}