.intro-s {
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;

    @include media1200 {
        padding: 0 30px;
    }

    &_block {
        width: 50%;
        height: 100%;

        &--left {
            display: flex;
            flex-direction: column;

            @include media1024 {
                width: 100%;
            }

            & h1 {
                font-family: 'Nunito Bold', sans-serif;
                font-size: 70px;
                letter-spacing: 0.03em;
                line-height: 0.8;

                @include media1024 {
                    max-width: 70%;
                }

                @include media1200 {
                    font-size: 65px;
                }

                & .stroke-item + .stroke-item {
                    margin-top: 10px;

                    @include media1200 {
                        margin-top: 6px;
                    }
                }

                & .stroke-item {
                    display: inline-block;
                    position: relative;
                    overflow: hidden;

                    & div {
                        position: absolute;
                        display: inline-block;
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 100%;
                        background: rgb(255, 255, 255);
                        z-index: 1;
                    }

                    & span {
                        line-height: 1.2;
                        display: inline-block;
                        opacity: 0;

                        & + span {
                            margin-top: 10px;
                        }
                    }
                }
            }

            & h2 {
                margin-top: 3vh;
                font-size: 18px;
                color: $linkColor;
                font-weight: 300;
                max-width: 72%;
                line-height: 1.6;
            }

            & a {
                color: $black;
                background: #fff;
                margin-top: 3vh;
                align-self: flex-start;
                font-weight: bold;
                display: flex;
                align-items: center;
                padding-left: 12px;
                padding-right: 12px;
                font-size: 17px;

                & span {
                    font-family: "NunitoSans Bold", sans-serif;
                }

                & svg {
                    margin-left: 8px;
                }
            }
        }

        &--right {
            position: relative;
            min-height: 250px;
            max-height: 250px;
            border: 1px solid red;
            border-radius: 100px;

            @include media1024 {
                display: none;
            }

            & > div {
                transition: 200ms ease;
            }

            & .intro-top-left-arrow {
                position: absolute;
                top: -150px;
                left: -100px;
                transform: scale(0.6);
                transform-origin: left bottom;

                // border: 1px solid greenyellow;
                
                & path {
                    stroke-dasharray: 0, 300; // 700
                }
            }

            & .intro-bottom-left-controllers {
                position: absolute;
                bottom: -70px;
                left: 100px;
                // border: 1px solid green;

                & svg {
                    position: absolute;
                    opacity: 0;
                    // border: 1px solid yellow;
                }

                & svg:nth-child(1) {
                    top: 40px;
                    left: 0px;
                }

                & svg:nth-child(2) {
                    // border: 1px solid purple; 
                    top: -50px;
                    left: -50px;
                }
            }
        }
    }
}