.news-s {
    margin-top: 200px;
    display: flex;
    flex-direction: column;

    & h3 {
        font-size: 55px;
        font-family: 'NunitoSans Regular', sans-serif;
    }

    &_slider {
        margin-top: 60px;

        &_item {
            height: 100%;
            text-align: center;
            margin: 0 20px;
            
            & p {
                margin: 15px 0;
            }

            & .bg {
                border: 1px solid red;
                border-radius: 20px;
                height: 200px;
            }
        }

        & > ul {
            position: absolute;
            bottom: -70px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;

            & li {
                display: block;
                margin: 0 7px;
                width: 8px;
                height: 8px;
                border-radius: 30px;
                background-color: #000;
                transition: 300ms ease;
                cursor: pointer;

                & button {
                    display: none;
                }

                &.slick-active {
                    width: 20px;
                    background-color: #fff;
                }
            }
        }
    }
}