.our-games-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    & .games-preview {
        margin-top: 100px;
        min-height: 500px;
        // border: 1px solid aqua;

        & .games-carousel {
            margin: 0 auto;
            max-width: 1000px;
            display: flex;
            position: relative;
            min-height: inherit;

            & .owl-stage {
                height: 100%;
            }

            & .owl-item {
                height: 100%;
                color: #000;
                background-color: #ccc;
                border-radius: 40px;
                text-align: center;
                overflow: hidden;

                & .slider-el {
                    height: 100%;
                }

                & img {
                    object-fit: cover;
                    min-height: 100%;
                    width: 100%;
                    transform: scale(1.4);
                }
            }

            & > .owl-dots  {
                position: absolute;
                bottom: -70px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;

                & .owl-dot {
                    display: block;
                    margin: 0 10px;
                    width: 12px;
                    height: 12px;
                    border-radius: 30px;
                    background-color: #000;
                    transition: 300ms ease;
                    cursor: pointer;

                    & span {
                        display: none;
                    }

                    &.active {
                        width: 25px;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}