.our-games-s {
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    & h3 {
        font-size: 55px;
        font-family: 'NunitoSans Regular', sans-serif;
    }

    & .games-preview {
        margin-top: 100px;
        min-height: 500px;

        @include media1200 {
            min-height: 400px;
        }

        & .games-carousel {
            margin: 0 auto;
            max-width: 1000px;
            display: flex;
            position: relative;
            min-height: inherit;

            @include media1200 {
                max-width: 800px;
            }

            & .owl-stage {
                height: 100%;
            }

            & .owl-item {
                height: 100%;
                color: #000;
                background-color: #ccc;
                border-radius: 40px;
                text-align: center;
            }

            & > .owl-dots  {
                position: absolute;
                bottom: -70px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;

                & .owl-dot {
                    display: block;
                    margin: 0 10px;
                    width: 12px;
                    height: 12px;
                    border-radius: 30px;
                    background-color: #000;
                    transition: 300ms ease;
                    cursor: pointer;

                    & span {
                        display: none;
                    }

                    &.active {
                        width: 25px;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}